DB_PASSWORD=sua_senha_aqui
DB_URL=jdbc:postgresql://localhost:5432/ong-abcaa
DB_USER=postgres
JWT_SECRET=seu_secret_jwt_aqui_minimo_64_caracteres
SHOW_SQL=true

CERTIFICATE_ORG_NAME=Associação Beneficiente e Cultural Amor em Ação
CERTIFICATE_ORG_CNPJ=54.794.100/0001-66
CERTIFICATE_ORG_CITY=Quitandinha
CERTIFICATE_ORG_STATE=PR
